<footer class="footer">
  <small>
    <%= t(".strfull",
        rubyonrails: link_to(t(".rubyonrails"), Settings.links.railstutorial),
        author: link_to(t(".author"), Settings.links.michaelhartl)).html_safe
      %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts._footer.btnAbout"), about_path %></li>
      <li><%= link_to t("layouts._footer.btnContact"), contact_path %></li>
      <li><a href="<%= Settings.links.railsnews %>"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
